<table>
  <th>Start Date:</th>
  <th>End Date:</th>
  <th>Total Cost</th>

<% @user.reports.each do |report| %>

  <tr>
    <td><%= report.start_date %></td>
    <td><%= report.end_date %></td>
    <td>$<%= report.total %></td>
  </tr>
<% end %> 
</table>